# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.sublime-workspace

# Build
dist/
build/
coverage/
*.tgz
*.zip

# Logs and backups
*.log
*.log.*
logs
*.backup
*.bak

# Other
.DS_Store
Thumbs.db
*.swp

# Certificates
*.pem
*.key
*.cer
*.crt

# Environment variables
.env
.env.local
.env.*.local
.env.build
.env.build.local
.env.production
.env.production.local
.env.test
.env.test.local
